<!DOCTYPE html>
<html>
<head>
    <title>Law-AI Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
</head>
<body>
    <div class="container">
        <h1>Law-AI</h1>
        <p>AI-Based CMS for Advocates</p>

        <div class="spaced">
            <a href="{% url 'upload_pdf' %}">
                <button style="padding: 10px 20px; font-size: 16px;">PDF Summarizer</button>
            </a>
        </div>

        <div class="spaced">
            <a href="{% url 'upload_pdf' %}">
                <button style="padding: 10px 20px; font-size: 16px;">Chat with AI About PDF</button>
            </a>
            <p>(Upload a PDF first, then click chat from the next screen)</p>
        </div>

        <div class="spaced">
            <a href="{% url 'document_selector' %}">
                <button style="padding: 10px 20px; font-size: 16px;">Generate Legal Documents</button>
            </a>
        </div>

        <div class="spaced">
            <a href="{% url 'auto_classify_upload' %}">
                <button style="padding: 10px 20px; font-size: 16px;">Legal File Separator</button>
            </a>
        </div>
        <hr style="margin: 20px 0;">
    <a href="{% url 'logout'%}">Logout</a>
    </div>
</body>
</html>
